
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body{
	overflow-x: hidden;
}

/**Boot CSS**/

.center{
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;	
}

.w33{
	width: 33.3%;
	padding: 0 33px;
}

.w50{
	padding: 0 2%;
	width: 50%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear{
	clear: both;
}



/**Estilização**/

header{
	padding: 2% 0;
	width: 100%;
	min-width: 50%;
	height: 100%;
	background-image: url('../images/bk-header.jpg');
	background-size: cover;
}

#map{
	width: 100%;
	height: 300px;
}


.mobile{
	display: none;
}

nav.desktop ul{
	list-style-type: none;

}

nav.desktop li{
	font-weight: 300;
	font-size: 15px;
	padding: 0 15px;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}

nav.desktop a{
	color: white;	
	text-decoration: none;
}

nav.desktop a:hover{
	color: #deff00;
	text-decoration: underline;
}

.logotipo2{
	position: absolute;
	margin-top: -1.8%;
	margin-left: -12%;
	width: 33%;
}

.banner-principal{
	z-index: 1;
	width: 100%;
	height: 505px;
	background-image: url('../images/bk-principal.jpg');

	
}

.botao-menu-mobile{
	font-size: 24px;
	cursor: pointer;
	color: white;
}

nav.mobile ul{
	top:55px;
	z-index: 2;
	position: absolute;
	left: 0;
	width: 100%;
	display: none;
	text-align: center;
}

nav.mobile li{
	font-weight: 300;
	width: 100%;
	display: block;
	background: white;
	border-bottom: 1px solid #ccc;
	font-size: 17px;
	padding: 8px 0;	
}

nav.mobile li a{
	display: block;
	color: #444;
	text-decoration: none;
}

section.banner-principal form{
	width: 93%;
	max-width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
}

section.banner-principal form h2{
	color: white;
	font-size: 45px;
	text-align: center;
	
	font-family: 'Sedgwick Ave Display', cursive;
}

section.banner-principal form input[type=email]{
		width: 100%;
		height: 66px;
		margin-top: 10px;
		background: white;
		color: #333;
		font-size: 22px;
		padding-left: 10px;
		border: 0;
}

section.banner-principal form input[type=submit]{
		width: 100%;
		height: 66px;
		margin-top: 10px;
		color: white;
		background: #0162c7;
		font-size: 22px;
		padding-left: 10px;
		border: 0;
		font-weight: bold;
		cursor: pointer;

}

section.descricao-autor{
	padding: 30px 0;
}

section.descricao-autor h2{
	font-size: 28px;
	font-weight: 400;
	color: #444;
}

section.descricao-autor p{
	font-size: 16px;
	margin-top: 10px;
	color: #444;
}

@media screen and (max-width: 768px){
	img{
		float: none !important;
		display: block;
		margin: 0 auto;
		max-width: 500px;
	}

	.w50{
		padding: 20px;
		width: 100%;
	}

	.w33{
		width: 100%;
		padding: 20px;
	}
	.box-especialidade{
		margin: 0;
	}
}


@media screen and (max-width: 700px){
	.logotipo2{
		width: 45%;
		margin-left: 25%;
	}
	nav.desktop{
		display: none;
	}
	nav.mobile{
		display: block;
	}

}

section.especialidades{
	padding: 40px 0;
	background: #d7e6f5;
}

section.especialidades h2.title{
	font-size: 30px;
	font-weight: bold;
	color: #0051b1;
	text-align: center;
}

.box-especialidade{
	margin: 40px 0;
	padding: 0 30px;
	text-align: center;
}

.box-especialidade h3{
	font-size: 39px;
	text-align: center;
	color: #0051b1;
}

.box-especialidade h4{
	color: #0051b1;
	font-weight: bold;
	font-size: 25px;
}

.box-especialidade p{
	color: #444;
	font-size: 15px;
	margin-top: 10px;
}

section.extras{
	padding: 30px 0;
	background: #0051b1;
}

.servicos-container, .depoimentos-container{
	padding: 0 2%;

}

section.extras .title{
	color: white;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 15px;
}

.depoimentos-single{
	padding: 15px 0;
	border-bottom: 1px solid #5056A0;
}

p.depoimento-descricao{
	font-size: 15px;
	color: white;
	font-weight: 300;
}

p.nome-autor{
	margin-top: 5px;
	font-size: 15px;
	color: white;
	font-weight: bold;
}

.servicos ul{
	margin: 20px 0;
	list-style-position: inside;
}

.servicos li{
	margin-bottom: 15px;
	font-size: 15px;
	color: white;
	font-weight: 300;
}

footer{
	background: #00397d;
	padding: 30px 0;
}

footer p{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

footer.fixed{
	position: fixed;
	width: 100%;
	bottom: 0;
}

section.erro-404 h2{
	text-align: center;
	color: #444;
	font-weight: 400;
	font-size: 28px;
	border-top: 2px solid #444;
}

section.erro-404 p{
	margin-top: 8px;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	color: #444;
}

section.erro-404 a{
	color: #444;
}

.wraper-404{
	transform: translateY(-50%);
	-ms-transform:translate(-50%);
	width: 100%;
	max-width: 1280px;
	padding: 0 2%;
	text-align: center;
	position: absolute;
	top: 50%;
}

.contato-container{
	text-align: center;
	padding: 40px 0;
}

.contato-container input[type=text]{
	margin: 8px 0;
	width: 100%;
	max-width: 800px;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	font-size: 16px;
	color: #444;

}

.contato-container input[type=submit]{
	background: #0162c7;
	width: 140px;
	height: 40px;
	color: white;
	cursor: pointer;
}

.contato-container textarea{
	padding: 8px;
	margin: 8px 0;
	width: 100%;
	max-width: 800px;
	height: 120px;
	border: 1px solid #ccc;
	resize: vertical;
	padding-left: 8px;
	font-size: 16px;
	color: #444;

}